// VARIABLES

// Grid
$width: 100%;
$min-width: 320px;
$max-width: 480px;

// Colors
$navy: #2c3e50;
$green: #18bc9c;
$blue: #3498db;
$yellow: #f39c12;
$red: #e74c3c;
$gray: #95a5a6;

// Fonts
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 12px;
$base-line-height: 1.2;

// Text
$p-size: 1.2rem; // ~ 15px
$h1-size: 3rem; // 36px
$h2-size: 2.5rem; // 30px
$h3-size: 2rem; // 24px
$h4-size: 1.66rem; // 20px
$h5-size: 1.25rem; // 14px
$h6-size: 1rem; // 12px

$p-line-height: $base-line-height;

$p-color: #434343;
$h1-color: #434343;
$h2-color: $green;
$h3-color: #434343;
$h4-color: #434343;
$h5-color: #434343;
$h6-color: #434343;

// Links
$link-color: $navy;
$link-hover-color: white;

// BUTTONS
// Primary enabled: light text on dark blue
$btn-text-enabled: #EBEBF0;
$btn-color-enabled: #135889;
$btn-stroke-enabled: #15436D;

// Primary enabled and active (hovered): light text on darker blue
$btn-text-active: #EBEBF0;
$btn-color-active: #0E4A74;
$btn-stroke-active: #0B3D61;

// Primary disabled
$btn-text-disabled: #666;
$btn-color-disabled: #999;
$btn-stroke-disabled: #757575;

// Secondary enabled:
$btn2-text-enabled: #EBEBF0;
$btn2-color-enabled: #555;
$btn2-stroke-enabled: #444;

// Secondary enabled & active:
$btn2-color-active: #444;
$btn2-stroke-active: #333;
