// VARIABLES

// Grid
$width: 100%;
$min-width: 320px;
$max-width: 480px;

// Colors
$brand: #135889; // blue
$brand-text: #1864A1; // blue used for all NextGear-branded text
$brand-light: #17659D; // slightly lighter than brand; resembles #0266A2
$brand-bright: #1879BB; // brighter blue for buttons; resembles #1B78C0
$brand-dark: #0F4C76; // darker blue for button down states and shadows; slight greenish tint
$brand-darkest: #115186; // dark blue shadow for buttons and text

// Fonts
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 12px;
$base-line-height: 1.2;

// Text
$p-size: 1rem; // 12px
$h1-size: 3rem; // 36px
$h2-size: 2.5rem; // 30px
$h3-size: 2rem; // 24px
$h4-size: 1.66rem; // 20px
$h5-size: 1.25rem; // 14px
$h6-size: 1rem; // 12px

$p-line-height: $base-line-height;

$p-color: #434343;
$h1-color: #434343;
$h2-color: $brand;
$h3-color: #434343;
$h4-color: #434343;
$h5-color: #434343;
$h6-color: #434343;

// Links
$link-color: #434343;
$link-hover-color: #434343;

// BUTTONS
// Primary enabled: light text on dark blue
$btn-text-enabled: #EBEBF0;
$btn-color-enabled: #135889;
$btn-stroke-enabled: #15436D;

// Primary enabled and active (hovered): light text on darker blue
$btn-text-active: #EBEBF0;
$btn-color-active: #0E4A74;
$btn-stroke-active: #0B3D61;

// Primary disabled
$btn-text-disabled: #666;
$btn-color-disabled: #999;
$btn-stroke-disabled: #757575;

// Secondary enabled:
$btn2-text-enabled: #EBEBF0;
$btn2-color-enabled: #555;
$btn2-stroke-enabled: #444;

// Secondary enabled & active:
$btn2-color-active: #444;
$btn2-stroke-active: #333;
