// VARIABLES

// Grid
$width: 100%;
$min-width: 320px;
$max-width: 480px;

// Colors
$brand: #135889; // blue

// Fonts
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 12px;
$base-line-height: 1.2;

// Text
$p-size: 1rem; // 12px
$h1-size: 3rem; // 36px
$h2-size: 2.5rem; // 30px
$h3-size: 2rem; // 24px
$h4-size: 1.66rem; // 20px
$h5-size: 1.25rem; // 14px
$h6-size: 1rem; // 12px

$p-line-height: $base-line-height;

$p-color: #434343;
$h1-color: #434343;
$h2-color: $brand;
$h3-color: #434343;
$h4-color: #434343;
$h5-color: #434343;
$h6-color: #434343;

// Links
$link-color: #434343;
$link-hover-color: #434343;

// Forms
// $input-placeholder-text: #999;
// $input-text: #434343;
// $label-text: #999;
// $input-stroke-color: #ddd;

// $input-bkgd: #fff;
// $input-bkgd-disabled: #ddd;